.articalcontainer{
    margin-left: 20%;
margin-right: 20%;
img{
    width: 130%;
    height: auto;
}
.articalparent1{
    position: relative;
    margin-top: 10%;
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
    .colum1{
        position: absolute;
        max-width: 60%;
        top: 15%;
        grid-area: 1 / 1 / 2 / 3;
        h2{
            font-family: Open Sans;
            font-weight: 300;
            font-size: 2.5vw;
            max-width: 80%;
            span{
                text-decoration-line: line-through;
                text-decoration-thickness: 1vw;
                text-decoration-color:rgba(4, 192, 73, 0.377);
            }
        }
        p{
            max-width: 90%;
        }
    }
    .colum2{
        grid-area: 1 / 3 / 2 / 4; 
    }
}
.articalparent2{
    margin-top: 10%;
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
position: relative;

.colum1{
    grid-area: 1 / 1 / 2 / 2;
}
.colum2{
    position: absolute;
    margin-left: 20%;
    left: 15%;
    justify-content: center;
    grid-area: 1 / 2 / 2 / 4;
    h2{
        font-family: Open Sans;
        font-weight: 300;
        font-size: 2.5vw;
        max-width: 80%;
        span{
            text-decoration-line: line-through;
            text-decoration-thickness: 1vw;
            text-decoration-color:rgba(4, 192, 73, 0.313);
        }
    }
}
}}